# Ignoră datele binare ale bazei de date (Asta dădea eroare)
data/db/
data/nginx-proxy/

# NU ignora fișierele WordPress (le vrem pe server!)
!data/wordpress/

# Ignoră fișierele de sistem WordPress care nu trebuie verziunate
data/wordpress/wp-config.php